nav {
    width: 100%;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    background-color:  rgba(14, 77, 146);
    height: auto;
    font-family: 'Times New Roman', Times, serif;
  }
  
  a {
    color: #ffffff;
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 10px 0;
    width: 33.33%;
    text-align: center;
  }
  
  ul {
    padding-left: 0px;
  }

  .alignLeft{
    text-align: left;
    padding-left: 1%;
  }

  .alignRight{
    color: #ffffff;
    text-align: right;
    padding-right: 1%;
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
  }